<article>
	<section class="light">
		<header class="header">
			<div class="left"><button><i class="icon-reorder"></i></button></div>
			<div class="center">Tasks</div>
			<div class="right"><button  ui-sref="task-create"><i class="icon-plus"></i></button></div>
		</header>
	</section>

	<section class="dark">
		<ul class="list task-list">
			<li ng-repeat="task in taskList" ng-class="{done: task.done}">
				<input type="checkbox" ng-model="task.done" ng-change="updateTask(task)" id="task-{{task.id}}" class="checkbox" />
				<label class="list-item" for="task-{{task.id}}">{{task.title}}</label>
				<a ui-sref="task-edit({taskId: task.id})" class="right"></a>
			</li>
		</ul>
	</section>
</article>