@mixin checkbox {
	display: none;
	
	+ label {
		display: block;
		@extend %vr-block;
		@extend %h-paddings;
	}
	
	+ label::before {
		content: "";
		display: inline-block;
		float: left;
		width: $font-size;
		height: $font-size;
		margin: 0 $font-size 0 0;
		border-radius: 2px;
		background-repeat: no-repeat;
		background-position: center;
		@include background-size(100%, 100%);
	}
}

%checkbox {
	@include checkbox;
}