$header-button-size: 4.8rem;
$header-font-size: 2rem;

@mixin header {
	display: block;
	position: relative;
	@extend %vr-block;

	button {
		padding: 1rem;
		border: 0;
		font-size: $header-font-size;
		width: $header-button-size;
		height: $header-button-size;
	}


	> .left,
	> .right,
	> .center {
		height: $header-button-size;
	}

	.left {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		float: left;
	}

	.center {
		@extend %ellipsis;
		text-align: center;
		font-weight: bold;
		font-size: $header-font-size;
		margin: 0 $header-button-size;
		padding: 1rem 0;
	}

	.right {
		position: absolute;
		left: auto;
		top: 0;
		right: 0;
		z-index: 3;
		float: right;
	}
}

%header {
	@include header;
}