%list {
	.list-header {
		font-weight: bold;
		&:focus, &:hover { outline: 0; }
	}

	.inline-edit {
		input {
			width: 100%;
			padding: 0;
			margin: 0;
			border: 0;
		}
	}
}

%list-item {
	cursor: pointer;
	position: relative;
	@extend %paddings;
	@extend %ellipsis;
	@extend %vr-block;

	.right {
		display: block;
		position: absolute;
		right: 0;
		top: 0;
	}
}