$header-button-size: 4.8rem;

#{$theme-prefix} .header {
	@include header;
	background-color: $base-color;

	button {
		background-color: transparent;
		color: white;

		&:hover, &:focus {
			@include box-shadow(#333, 0, 0, 7px, 0, inset);
		}
	}
}